<?xml version="1.0" encoding="utf-8"?>
<packages>
   <package id="angryip" version="3.5.5" />
   <package id="AquaSnap" version="1.23.6" />
   <package id="autohotkey" version="1.1.30.01" />
   <package id="autohotkey.install" version="1.1.30.01" />
   <package id="ccleaner" version="5.53.7034" />
   <package id="chocolatey" version="0.10.11" />
   <package id="chocolatey-core.extension" version="1.3.3" />
   <package id="chocolatey-misc-helpers.extension" version="0.0.3.1" />
   <package id="chocolateygui" version="0.16.0" />
   <package id="cloneapp" version="2.11.444" />
   <package id="compactgui" version="2.6.2" />
   <package id="ConEmu" version="19.2.17.0" />
   <package id="copyq" version="3.7.3" />
   <package id="discord" version="0.0.304" />
   <package id="discord.install" version="0.0.304" />
   <package id="Everything" version="1.4.1935" />
   <package id="fastcopy.portable" version="3.62" />
   <package id="io-ninja" version="3.10.2" />
   <package id="iperf3" version="3.1.3" />
   <package id="javaruntime" version="8.0.191" />
   <package id="jre8" version="8.0.201" />
   <package id="kitty" version="0.70.0.9" />
   <package id="lan-speed-test.portable" version="4.3.1" />
   <package id="latencymon" version="6.70.0.20190214" />
   <package id="mc" version="4.8.21.209" />
   <package id="netscan" version="6.2.1.20161101" />
   <package id="networklatencyview" version="1.62" />
   <package id="nomachine" version="6.4.6.500" />
   <package id="notepadplusplus" version="7.6.3" />
   <package id="notepadplusplus.install" version="7.6.3" />
   <package id="openssh" version="7.9.0.1" />
   <package id="speccy" version="1.32.740" />
   <package id="steam" version="3.0.1.20190215" />
   <package id="tidytabs" version="1.3.5" />
   <package id="tidytabs.install" version="1.3.5" />
   <package id="vlc" version="3.0.6" />
   <package id="winflector" version="3.9.6.5" />
   <package id="winrar" version="5.61" />
   <package id="winscp" version="5.13.7" />
   <package id="winscp.install" version="5.13.7" />
   <package id="zerotier-one" version="1.2.12" />
</packages>
